<!DOCTYPE html>
{% load static %}
{% include 'inc/_nav.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} SNQuality {% endblock %}</title>
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

{% block content %}

{% endblock %}

<div class="container-fluid my-1" style="background-color: #C0C0C0;">
    {% if page_obj.has_other_pages %}
    <nav aria-label="...">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="btn btn-outline-dark my-2" href="?page={{ page_obj.previous_page_number }}">Пред.</a>
        </li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
          {% if page_obj.number == p %}
            <li class="page-item active" aria-current="page">
                <a class="btn btn-dark my-2" href="?page={{ p }}">{{ p }} <span class="sr-only">  </span></a>
            </li>
          {% elif p > page_obj.number|add:-3 or p < page_obj.number|add:3 %}
            <li class="page-item">
                <a class="btn btn-outline-dark my-2" href="?page={{ p }}">{{ p }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="btn btn-outline-dark my-2" href="?page={{ page_obj.next_page_number }}">След.</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>

<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>